body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
.custom-nav {
   border-bottom: 1px solid #f5f5f5;
   box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.white {
    color:white !important;
}

.custom-nav li:hover .nav-link-custom{
    color:black !important;
    font-weight: 500 !important;
}

.title {
    text-align: center;
}

